/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 480px) {
  body {
    width: 100%;
    min-height: 100vh;
  }
  .content {
    position: relative;
    top: -150px;
    left: 10%;
    color: #fff;
    font-size: 28px;
    width: auto;
  }
  .logo {
    visibility: hidden;
    position: absolute;
  }
  hr {
    width: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: -30px;
  }
  h1 {
    font-size: 17px;
  }
  h3 {
    font-size: 14px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 11px;
  }
  a {
    text-decoration: none;
    color: #000;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
  }
  .section__title {
    position: relative;
    font-size: 24px;
    margin: 2rem 0;
    text-align: center;
  }
  .section-title::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
  }

  .logo {
    font-size: 14px;
  }
  .section-title {
    font-size: 15px;
  }
  /* about */
  .about__container {
    justify-items: center;
    row-gap: 2rem;
    text-align: center;
  }
  .about__img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
  }
  .about__img img {
    width: 120px;
  }
  .about__subtitle {
    font-size: 25px;
    margin-bottom: 0.5rem;
  }
  .about__text {
    /* margin-bottom: 2rem; */
    margin: 0 40px;
    font-size: 12px;
  }
  .about__profession {
    font-size: 18px;
    display: block;
    margin-bottom: 0.5rem;
  }
  .about__social {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .about__social-icon {
    font-size: 1.4rem;
    margin: 0 var;
  }
  .about__social-icon:hover {
    color: #9774db !important;
  }
  /* skills */
  .skills__container {
    row-gap: 2rem;
  }
  .skills__subtitle {
    margin-bottom: 1.5rem;
    font-size: 17px;
  }
  .skills__box {
    padding: 0px 40px;
  }
  .skills__name {
    font-size: 14px;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #9774db;
    color: #fff;
    border-radius: 0.25rem;
  }
  .skills__name:hover {
    background-color: #592cb3;
  }
  /* portfolio */
  .container {
    position: absolute;
    visibility: hidden;
  }
  .portfolio__container {
    justify-items: center;
    row-gap: 2rem;
  }
  .portfolio__img {
    position: relative;
    overflow: hidden;
    margin: 0px 40px;
  }
  .portfolio__img img {
    border-radius: 0.5rem;
    width: 400px;
  }
  .portfolio__link {
    position: absolute;
    bottom: -100%;
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(98, 54, 155, 0.3);
    border-radius: 0.5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.3s;
  }
  .portfolio__img:hover .portfolio__link,
  .portfolio__img:active {
    bottom: 0;
    width: 400px;
  }
  .portfolio__link-name {
    color: #000;
  }
  .portfolio__link-name:hover {
    color: #fff;
  }
  /* contact */
  .contact__container {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact__info {
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
  }
  .contact__text {
    margin: 0px 18px;
  }
  .contact__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .contact__input {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: 1.5px solid (#9774db);
    font-size: 12px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }
  .contact__button {
    background-color: #9774db;
    color: white;
    font-size: x-small;
    display: block;
    padding: 0.5rem 2rem;
    margin-left: auto;
    border-radius: 0.5rem;
    border: none;
    outline: none;
  }
  .contact__form {
    margin: 0px 14px;
  }
  /* footer */
  .footer__container {
    background-color: #715ca2;
    text-align: center;
    color: snow;
    height: 120px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu {
    display: flex;
    text-decoration: none;
  }
  .nav-link {
    color: #fff;
    font-size: 12px;
  }
  .nav-link:hover {
    color: #ccb4fc;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body {
    width: 100%;
    min-height: 100vh;
  }
  .content {
    position: relative;
    top: -220px;
    left: 8%;
    color: #fff;
    font-size: 28px;
    width: auto;
  }
  .logo {
    visibility: hidden;
    position: absolute;
  }
  hr {
    width: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: -30px;
  }
  h1 {
    font-size: 23px;
  }
  h3 {
    font-size: 20px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 11px;
  }
  a {
    text-decoration: none;
    color: #000;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
  }
  .section__title {
    position: relative;
    font-size: 30px;
    margin: 2rem 0;
    text-align: center;
  }
  .section-title::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
  }

  .logo {
    font-size: 14px;
  }
  .section-title {
    font-size: 15px;
  }
  /* about */
  .about__info{
    width: 400px;
  }
  .about__container {
    display: flex;
    align-items: center;
    text-align: initial;
    padding: 4rem 0;
  }
 .about__img{
   width: 120px;
   height: 120px;
   margin: 0px 100px;
 }
 .about__img img{
   width: 120px;
   border-radius: 50%;
 }
  .about__subtitle {
    font-size: 26px;
    margin-bottom: 0.5rem;
  }
  .about__text {
    margin-bottom: 2rem;
    font-size: 13px;
  }
  .about__profession {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 18px;
  }
  .about__social {
    
    display: flex;
    justify-content: initial;
    gap: 20px;
  }
  .about__social-icon {
    font-size: 1.4rem;
    
  }
  .about__social-icon:hover {
    color: #9774db !important;
  }
  /* skills */
  .skills__container {
    padding: 4rem 0;
    row-gap: 2rem;
  }
  .skills__subtitle {
    margin-bottom: 1.5rem;
    font-size: 17px;
  }
  .skills__box {
    position: relative;
    left: 25%;
    transform: translate(-32%);
    width: 400px;
  }
  .skills__name {
    font-size: 14px;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #9774db;
    color: #fff;
    border-radius: 0.25rem;
  }
  .skills__name:hover {
    background-color: #592cb3;
  }
  /* portfolio */
  
  .portfolio__container {
    padding: 4rem 0;
    display: grid;
   grid-template-columns: repeat(2, 1fr);
  
  }
  .portfolio__img {
    position: relative;
    overflow: hidden;
    margin: 0px 60px;
  }
  .portfolio__img img {
    border-radius: 0.5rem;
    width: 250px;
  }
  .portfolio__link {
    position: absolute;
    bottom: -100%;
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(98, 54, 155, 0.3);
    border-radius: 0.5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.3s;
  }
  .portfolio__img:hover .portfolio__link,
  .portfolio__img:active {
    bottom: 0;
    width: 250px;
  }
  .portfolio__link-name {
    color: #000;
  }
  .portfolio__link-name:hover {
    color: #fff;
  }
  /* contact */
  .contact__container {
    padding: 4rem 0;
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact__info {
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
  }
  .contact__text {
    margin: 0px 18px;
  }
  .contact__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .contact__input {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: 1.5px solid (#9774db);
    font-size: 12px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }
  .contact__button {
    background-color: #9774db;
    color: white;
    font-size: x-small;
    display: block;
    padding: 0.5rem 2rem;
    margin-left: auto;
    border-radius: 0.5rem;
    border: none;
    outline: none;
  }
  .contact__form {
    margin: 0px 14px;
  }
  /* footer */
  .footer__container {
    background-color: #715ca2;
    text-align: center;
    color: snow;
    height: 120px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu {
    display: flex;
    text-decoration: none;
  }
  .nav-link {
    color: #fff;
    font-size: 13px;
  }
  .nav-link:hover {
    color: #ccb4fc;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    width: 100%;
    min-height: 100vh;
  }
  .content {
    position: relative;
    top: -290px;
    left: 6%;
    color: #fff;
    font-size: 28px;
    width: auto;
  }
  .btn {
    font-size: small !important;
  }
  hr {
    width: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: -30px;
  }
  h1 {
    width: 300px;
    font-size: 28px;
  }
  h3 {
    font-size: 25px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 15px;
  }
  a {
    text-decoration: none;
    color: #000;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
  }
  
  .section__title {
    position: relative;
    font-size: 40px;
    margin: 2rem 0;
    text-align: center;
  }

  .section-title {
    font-size: 15px;
  }
  /* about */
  .about__info{
    width: 500px;
  }
  .about__container {
    display: flex;
    align-items: center;
    text-align: initial;
    padding: 4rem 0;
  }
 .about__img{
   width: 180px;
   height: 180px;
   margin: 0px 110px;
 }
 .about__img img{
   width: 180px;
   border-radius: 50%;
 }
  .about__subtitle {
    font-size: 30px;
    margin-bottom: 0.5rem;
  }
  .about__text {
    margin-bottom: 2rem;
    font-size: 15px;
  }
  .about__profession {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 20px;
  }
  .about__social {
    display: flex;
    justify-content: initial;
    gap: 20px;
  }
  .about__social-icon {
    font-size: 35px;
    margin: 0 var;
  }
  .about__social-icon:hover {
    color: #ccb4fc !important;
  }
  /* skills */
  .skills__container {
    row-gap: 2rem;
    padding: 4rem 0;
  }
  .skills__subtitle {
    margin-bottom: 1.5rem;
    font-size: 25px;
  }
  .skills__box {
    position: relative;
    left: 23%;
    transform: translate(-32%);
    width: 400px;
  }
  .skills__name {
    font-size: 18px;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #9774db;
    color: #fff;
    border-radius: 0.25rem;
  }
  .skills__name:hover {
    background-color: #592cb3;
  }
  /* portfolio */
  .portfolio__container {
    padding: 4rem 0;
    display: grid;
   grid-template-columns: repeat(3, 1fr);

  }
  .portfolio__img {
    position: relative;
    overflow: hidden;
    margin: 0px 100px;
  }
  .portfolio__img img {
    border-radius: 0.5rem;
    width:400px;
  }
  .portfolio__link {
    position: absolute;
    bottom: -100%;
    width:400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(98, 54, 155, 0.3);
    border-radius: 0.5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.3s;
  }
  .portfolio__img:hover .portfolio__link,
  .portfolio__img:active {
    bottom: 0;
    width:400px;
  }
  .portfolio__link-name {
    color: #000;
    font-size: 20px;
  }
  .portfolio__link-name:hover {
    color: #fff;
  }
  /* contact */
  .contact__container {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 0;
  }
  .contact__info {
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
  }
  .contact__text {
    margin: 0px 18px;
    font-size: 15px;
  }
  .contact__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .contact__input {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: 1.5px solid (#9774db);
    font-size: 12px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }
  .contact__button {
    background-color: #9774db;
    color: white;
    font-size: x-small;
    display: block;
    padding: 0.5rem 2rem;
    margin-left: auto;
    border-radius: 0.5rem;
    border: none;
    outline: none;
  }
  .contact__form {
    margin: 0px 14px;
  }
  /* footer */
  .footer__container {
    background-color: #715ca2;
    text-align: center;
    color: snow;
    height: 140px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu {
    display: flex;
    text-decoration: none;
  }
  .nav-link {
    color: #fff;
  }
  .nav-link:hover {
    color: #ccb4fc;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  body {
    width: 100%;
    min-height: 100vh;
  }
  .content {
    position: relative;
    top: -340px;
    left: 10%;
    color: #fff;
    font-size: 28px;
    width: auto;
  }
  .btn {
    font-size: small !important;
  }
  hr {
    width: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: -30px;
  }
  h1 {
    width: 300px;
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 15px;
  }
  a {
    text-decoration: none;
    color: #000;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
  }

  .section__title {
    position: relative;
    font-size: 40px;
    margin: 2rem 0;
    text-align: center;
  }

  .section-title {
    font-size: 15px;
  }
  /* about */
  .about__info{
    width: 600px;
  }
  .about__container {
    display: flex;
    align-items: center;
    text-align: initial;
    padding: 4rem 0;
  }
 .about__img{
   width: 180px;
   height: 180px;
   margin: 0px 150px;
 }
 .about__img img{
   width: 180px;
   border-radius: 50%;
 }
  .about__subtitle {
    font-size: 30px;
    margin-bottom: 0.5rem;
  }
  .about__text {
    margin-bottom: 2rem;
    font-size: 18px;
  }
  .about__profession {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 20px;
  }
  .about__social {
    display: flex;
    justify-content: initial;
    gap: 20px;
  }
  .about__social-icon {
    font-size: 30px;
    margin: 0 var;
  }
  .about__social-icon:hover {
    color: #ccb4fc !important;
  }
  /* skills */
  .skills__container {
    row-gap: 2rem;
    padding: 4rem 0;
  }
  .skills__subtitle {
    margin-bottom: 1.5rem;
    font-size: 25px;
  }
  .skills__box {
    position: relative;
    left: 23%;
    transform: translate(-32%);
    width: 400px;
  }
  .skills__name {
    font-size: 18px;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #9774db;
    color: #fff;
    border-radius: 0.25rem;
  }
  .skills__name:hover {
    background-color: #592cb3;
  }
  /* portfolio */
  .portfolio__container {
    padding: 4rem 0;
    display: grid;
   grid-template-columns: repeat(4, 1fr);

  }
  .portfolio__img {
    position: relative;
    overflow: hidden;
    margin: 0px 100px;
  }
  .portfolio__img img {
    border-radius: 0.5rem;
    width:300px;
  }
  .portfolio__link {
    position: absolute;
    bottom: -100%;
    width:300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(98, 54, 155, 0.3);
    border-radius: 0.5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.3s;
  }
  .portfolio__img:hover .portfolio__link,
  .portfolio__img:active {
    bottom: 0;
    width:300px;
  }
  .portfolio__link-name {
    color: #000;
    font-size: 20px;
  }
  .portfolio__link-name:hover {
    color: #fff;
  }
  /* contact */
  .contact__container {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 0;
  }
  .contact__info {
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
  }
  .contact__text {
    margin: 0px 18px;
    font-size: 20px;
  }
  .contact__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .contact__input {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: 1.5px solid (#9774db);
    font-size: 12px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }
  .contact__button {
    background-color: #9774db;
    color: white;
    font-size: x-small;
    display: block;
    padding: 0.5rem 2rem;
    margin-left: auto;
    border-radius: 0.5rem;
    border: none;
    outline: none;
  }
  .contact__form {
    margin: 0px 14px;
  }
  /* footer */
  .footer__container {
    background-color: #715ca2;
    text-align: center;
    color: snow;
    height: 130px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu {
    display: flex;
    text-decoration: none;
  }
  .nav-link {
    color: #fff;
  }
  .nav-link:hover {
    color: #ccb4fc;
  }
}
@media (min-width: 1201px) {
  body {
    width: 100%;
    min-height: 100vh;
  }
  .content {
    position: relative;
    top: -400px;
    left: 5%;
    color: #fff;
    font-size: 45px;
    width: auto;

    
  }
  .btn {
    font-size: medium !important;
  }
  hr {
    width: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: -30px;
  }
  h1 {
    width: 800px;
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
  span {
    font-size: 12px;
  }
  p {
    font-size: 15px;
  }
  a {
    text-decoration: none;
    color: #000;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
  }
  .carrera {
    width: 800px;
    font-size: 19px;
  }
  .section__title {
    position: relative;
    font-size: 45px;
    margin: 2rem 0;
    text-align: center;
  }

  /* about */
  .about__info{
    width: 700px;
  }
  .about__container {
    display: flex;
    align-items: center;
    text-align: initial;
    padding: 4rem 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
 .about__img{
   width: 200px;
   height: 200px;
   margin: 0px 100px;
 }
 .about__img img{
   width: 200px;
   border-radius: 50%;
 }
  .about__subtitle {
    font-size: 30px;
    margin-bottom: 0.5rem;
  }
  .about__text {
    margin-bottom: 2rem;
    font-size: 20px;
  }
  .about__profession {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 25px;
  }
  .about__social {
    display: flex;
    justify-content: initial;
    gap: 20px;
  }
  .about__social-icon {
    font-size: 40px;
    margin: 0 var;
  }
  .about__social-icon:hover {
    color: #ccb4fc !important;
  }
  /* skills */
  .skills__container {
    row-gap: 2rem;
    padding: 4rem 0;
  }
  .skills__subtitle {
    margin-bottom: 1.5rem;
    font-size: 30px;
  }
  .skills__box {
    position: relative;
    left: 28%;
    transform: translate(-32%);
    width: 800px;
  }
  .skills__name {
    font-size: 25px;
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: 0.25rem 0.5rem;
    background-color: #9774db;
    color: #fff;
    border-radius: 0.25rem;
  }
  .skills__name:hover {
    background-color: #592cb3;
  }
  /* portfolio */
  .portfolio__container {
    padding: 4rem 0;
    display: grid;
   grid-template-columns: repeat(4, 1fr);

  }
  .portfolio__img {
    position: relative;
    overflow: hidden;
    margin: 0px 100px;
  }
  .portfolio__img img {
    border-radius: 0.5rem;
    width:300px;
  }
  .portfolio__link {
    position: absolute;
    bottom: -100%;
    width:300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(98, 54, 155, 0.3);
    border-radius: 0.5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.3s;
  }
  .portfolio__img:hover .portfolio__link,
  .portfolio__img:active {
    bottom: 0;
    width:300px;
  }
  .portfolio__link-name {
    color: #000;
    font-size: 20px;
  }
  .portfolio__link-name:hover {
    color: #fff;
  }
  /* contact */
  .contact__container {
    display: flex;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 0;
  }
  .contact__info {
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
  }
  .contact__text {
    margin: 0px 18px;
    font-size: 20px;
  }
  .contact__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .contact__input {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: 1.5px solid (#9774db);
    font-size: 12px;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }
  .contact__button {
    background-color: #9774db;
    color: white;
    font-size: x-small;
    display: block;
    padding: 0.5rem 2rem;
    margin-left: auto;
    border-radius: 0.5rem;
    border: none;
    outline: none;
  }
  .contact__form {
    margin: 0px 14px;
  }
  /* footer */
  .footer__container {
    background-color: #715ca2;
    text-align: center;
    color: snow;
    height: 180px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu {
    display: flex;
    text-decoration: none;
  }
  .nav-link {
    color: #fff;
  }
  .nav-link:hover {
    color: #ccb4fc;
  }
}
